<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="container-fluid">

        <div class="jumbotron jumbotron-container">

            <div class="row">

                <div class="col-md-6">
                    <p class="logo">Decentralized
                        Email
                    </p>
                </div>

                <div class="col-md-6 text-align-right">
                    <a class="header-btn" href="/login">Login</a>
                    <a class="header-btn" href="/register">Register</a>
                </div>

                <div class="col-md-12 text-align-center color-white">
                    <br /><br /><br />
                    <h1>Liberate your email</h1><br />
                    <p>
                        Decentralized Email is a world's first encrypted and decentralized e-mail service. Nobody, except you, not
                        even
                        our engineers - can access your data. Take care of your privacy at the price of one pizza a
                        month.
                    </p>
                    <a class="btn btn-lg color-white" href="#learn-more" role="button" style="border: 0.5px solid white;">Learn
                        more</a>
                </div>

            </div>

        </div>

        <div class="jumbotron" id="learn-more">
            <h1 class="display-4">Learn More</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to
                featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <button class="btn btn-lg" style="border: 0.5px solid black !important;" onclick="">Get
                Started</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- external css -->
    <link rel="stylesheet" type="text/css" href="/css/home.css">

    <script src="/home.js"></script>
</body>

</html>